[defaults]
# inventory = ./ansible_hosts
inventory = ./inventory/01_aws_ec2.yml
remote_user = ubuntu
private_key_file = /home/vinayak/aws/aws_keys/devops-keys.pem
host_key_checking = False
retry_files_enabled = False